@import url('https://db.onlinewebfonts.com/c/87c492db36d96bca8d9d769a21874b83?family=Wales+Sans+Headline'); 
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root {
    /* ===== Custom Colors ===== */
    --clr-red: #ad0e29;
    --clr-green: #7AB881;
    --clr-black: #0F1A20;
    --clr-white: #FFFDF7;
    --clr-brown: #B5572C;
    /* ===== Custom Colors ===== */
}

img,
picture{
    width:100%;
    display: block;
}

.fill-vh{
    min-height: calc(100svh - 174px);
}

/* Body */
body {
    min-height: 100svh;
    line-height: 1.5;
    padding: 0;
    margin:0;
    background-color: var(--clr-green);
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

/* Fonts */
h1,
h2,
h3 {
    font-family: "Wales Sans Headline", sans-serif;
}

p,
li {
    font-family: "Didact Gothic", sans-serif;
}

/* Navbar */
.navbar{
    background-color: var(--clr-brown);
    box-shadow: 0px 3px 10px var(--clr-black);
    font-family: "Wales Sans Headline", sans-serif;
    font-size: larger;
    font-weight: 500;
}

.navbar a,
.navbar a:hover,
.navbar a:active{
    color: var(--clr-white);
}

.navbar a:hover{
    text-decoration: underline;
}

.navbar img {
    display: inline-block;
    max-height: 3rem;
    padding-right: 0.5rem;
}

/* Cards */
.card-border{
    border: var(--clr-brown) solid 5px !important;
    border-radius: 10px !important;
}

/* Footer */
.footer { 
    background-color: var(--clr-black);
    color: var(--clr-white);
    position: relative; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}

.footer a,
.footer a:visited,
.footer a:active,
.footer a:link{
    color: var(--clr-white);
}

.footer a:hover{
    text-decoration: underline;
}

/* Contact Page */

.contact-container{
    max-width: min(90%, 50rem);
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 2rem 5rem;
}

.contact-icon{
    color: var(--clr-green);
}

.btn{
    background-color: var(--clr-brown) !important; 
    color: var(--clr-white);
    border: var(--clr-green) solid 3px;
    font-family: "Wales Sans Headline", sans-serif;
}

.btn:hover,
.btn:active
{
    background-color: var(--clr-green) !important;
    color: var(--clr-white) !important;
    border: var(--clr-brown) solid 3px !important;
}